<header>
  <h1>todos</h1>
</header>

<main>
  <section class="new-todo">
    <input name="new-todo" class="new-todo-input" autofocus placeholder="What needs to be done?" />
  </section>

  <section class="todo-list">
    <ul>
      <li>
        <input type="checkbox" class="toggle-button" />
        <label>todo item 1</label>
        <button class="remove-item-button"></button>
      </li>
      <li>
        <input type="checkbox" class="toggle-button" />
        <label>todo item 2</label>
        <button class="remove-item-button"></button>
      </li>
    </ul>
  </section>

  <section class="todo-count">
    <span>2 items left</span>
  </section>
</main>
